body {
    background-color: #e6e6e6;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-display: swap;
    color: #262626;
}

p {
    padding: 5px;
}

a {
    font-display: swap;
    color: #194d19;
    text-decoration: none;
}

a:hover {
    color: #1f601f;
    text-decoration: underline;
}

.material-icons {
    vertical-align: middle;
}

li {
    margin: 10px 0;
}

pre code {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #262626;
    color: #e6e6e6;
    display: block;
    padding: 5px;
    border: 1px solid #1f601f;
}