body {
    background-color: #a6a6a6;
}

p {
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 25px;
    color: #262626;
}

a {
    color: #194d19;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
}

a:hover {
    color: #1f601f;
    text-decoration: underline;
}

.material-icons {
    vertical-align: middle;
}

ul {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #262626;
}

ol {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #262626;
}

li{
    margin: 10px 0;
  }